AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
ColumnLimit: 80
IndentCaseLabels: false
IndentWidth: 8
Language: Cpp
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
TabWidth: 8
UseTab: Always
